<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <header>
      <h1>My E-Commerce</h1>
      <nav>
        <a href="/">Home</a>
        |
        <a href="/realtimeproducts">Real Time Products</a>
        |
        <a href="/realtimecarts">Real Time Carts</a>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p>&copy; 2025 My E-Commerce</p>
    </footer>
  </body>
</html>